img.buzz_arvr
{
    position: absolute;
    left: 10vw;
    top: 30vh;
    width: 80vw;
    height: auto;
}


img.powered_by_Buzz
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
}